.section-2 {
       display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 58px;
    gap: 32px;
    flex-wrap: wrap;
}
.sec-4-div-2 {
    display: flex;
    padding: 0 45px;
}

.sec-4-div-2-2 {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sec-4-div-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sec-4-div-1 h2 {
       color: #FF5F01;
    font-size: 20px;
    letter-spacing: 17px;
}

.section-4 {
    /* margin-top: 66px; */
}