* {
    transition: all .5s linear;
}

.conatiner-1-profile {
    width: 100%;
    max-height: 100vh;
    height: 600px;
    display: flex;
    justify-content: space-around;
    /* box-shadow: 0 7px 20px 0 #ffa50094; */
    align-items: center;
}

.conatiner-1-profile::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("https://images.unsplash.com/photo-1713689951355-7df0f904e54d?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTZ8fGRlc2lnbiUyMGJhY2tncm91bmQlMjBvcmFuZ2V8ZW58MHx8MHx8fDA%3D");
    background-size: cover;
    background-position: center;
    opacity: 0.4;
    /* <-- sirf background light hoga */
    z-index: -1;
}

.profile-text {
    justify-content: center;
    display: flex;
    padding: 95px 0;
    /* align-items: center; */
    width: 50%;
    flex-direction: column;
    padding: 0 23px;
    gap: 17px;
}

.profile-user {
    /* background-image: url("https://images.unsplash.com/photo-1575936123452-b67c3203c357?w=500&auto=format&fit=crop&q=60");
    background-size: cover;
    background-position: center;
    width: 50%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0 0 0 16px #FFE; */
    background-image: url("https://images.unsplash.com/photo-1575936123452-b67c3203c357?w=500&auto=format&fit=crop&q=60");
    background-size: cover;
    background-position: center;
    width: 34%;
    height: 64%;

    max-width: 409px;
    min-width: 409px;
    /* border-radius: 50%; */
    box-shadow: 0 0 0 10px #FFE;
}

/* .profile-text {
  max-width: 500px;
} */

.typing-text-2 {
    overflow: hidden;
    white-space: nowrap;
    border-right: 3px solid #333;
    color: #FF5F01;
    /* cursor */
    width: 0;
    display: inline-block;
    animation: typing 2s steps(30) forwards, blink 0.7s infinite;
}

/* Delay second line so it types AFTER first */
.typing-text-2 {
    animation: typing2 2.2s steps(30) forwards 2.1s, blink 0.7s infinite 2.1s;
}

/* typing keyframes */
@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 150px;
    }

}

@keyframes typing2 {
    from {
        width: 0;
    }

    to {
        width: max-content;
    }

    /* username ki length ke mutabiq badha sakte ho */
}

/* cursor blinking */
@keyframes blink {
    0% {
        border-color: transparent;
    }

    50% {
        border-color: #FF5F01;
    }

    100% {
        border-color: transparent;
    }
}

#menu a.active {
    position: relative;
    color: #fff !important;
    font-weight: 900;
    padding: 10px 12px;
    z-index: 2;
}

#menu a.active::after {
    content: "";
    z-index: -1;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 100%;
    /* padding: 22px 33px; */
    background: #f43f5e;
    border-radius: 21px;
    border: 1px solid #f43f5e;
    /* clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 50% 75%, 0% 75%); */



}

#menu a.active::before {
    content: "";
    z-index: -1;
    position: absolute;
    bottom: -10px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #f43f5e;
    border-radius: 10px;
    clip-path: polygon(8% 93%, 93% 93%, 100% 80%, 100% 100%, 0 100%, 0 80%);
}

@media (max-width:750px) {
    .profile-user {
        margin-top: 50px;
        height: 500px;
    }
}

@media (max-width:450px) {
    .profile-user {
        width: 100%;

        max-width: auto;
        min-width: auto;
    }
}